GMAIL_ADDRESS=your@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
B2B_LABEL=B2B_INQUIRY
SLACK_WEBHOOK_DEALS=https://hooks.slack.com/services/...
SLACK_WEBHOOK_ERRORS=https://hooks.slack.com/services/...
MODUSIGN_API_KEY=...
MODUSIGN_TEMPLATE_ID=...
DIRECTOR_NAME=이름
DIRECTOR_EMAIL=your@gmail.com
